@import '../variables.scss';

.homePage {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  padding: 15px;
  h1 {
    font-size: 1.5rem;
    color: $colorPrimary;
    margin: 1rem;
    text-align: center;
  }

  p {
    margin: 15px 0;
  }
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
}

:global(.weui-flex) {
  margin: 15px 0;
  text-align: center;
}

:global(.weui-btn) {
  height: 60px;
  line-height: 60px;
  width: 105px!important;
}
