@font-face {
  font-family: "GE Inspira Sans";
  font-weight: normal;
  font-style: normal;
  src: url("./type/GEInspiraSans-Regular-v01.eot");
src: url("./type/GEInspiraSans-Regular-v01.eot?#iefix") format("embedded-opentype"), url("./type/GEInspiraSans-Regular-v01.woff") format("woff"), url("./type/GEInspiraSans-Regular-v01.ttf") format("truetype"), url("./type/GEInspiraSans-Regular-v01.svg#GE Inspira Sans") format("svg"); }

@font-face {
  font-family: "GE Inspira Sans";
  font-weight: normal;
  font-style: italic;
  src: url("./type/GEInspiraSans-Italic-v01.eot");
src: url("./type/GEInspiraSans-Italic-v01.eot?#iefix") format("embedded-opentype"), url("./type/GEInspiraSans-Italic-v01.woff") format("woff"), url("./type/GEInspiraSans-Italic-v01.ttf") format("truetype"), url("./type/GEInspiraSans-Italic-v01.svg#GE Inspira Sans") format("svg"); }

@font-face {
  font-family: "GE Inspira Sans";
  font-weight: bold;
  font-style: normal;
  src: url("./type/GEInspiraSans-Bold-v01.eot");
src: url("./type/GEInspiraSans-Bold-v01.eot?#iefix") format("embedded-opentype"), url("./type/GEInspiraSans-Bold-v01.woff") format("woff"), url("./type/GEInspiraSans-Bold-v01.ttf") format("truetype"), url("./type/GEInspiraSans-Bold-v01.svg#GE Inspira Sans") format("svg"); }

@font-face {
  font-family: "GE Inspira Sans";
  font-weight: bold;
  font-style: italic;
  src: url("./type/GEInspiraSans-BoldItalic-v01.eot");
src: url("./type/GEInspiraSans-BoldItalic-v01.eot?#iefix") format("embedded-opentype"), url("./type/GEInspiraSans-BoldItalic-v01.woff") format("woff"), url("./type/GEInspiraSans-BoldItalic-v01.ttf") format("truetype"), url("./type/GEInspiraSans-BoldItalic-v01.svg#GE Inspira Sans") format("svg"); }

@font-face {
  font-family: "GE Inspira Serif";
  font-weight: normal;
  font-style: normal;
  src: url("./type/GEInspiraSerif-Regular-v01.eot");
src: url("./type/GEInspiraSerif-Regular-v01.eot?#iefix") format("embedded-opentype"), url("./type/GEInspiraSerif-Regular-v01.woff") format("woff"), url("./type/GEInspiraSerif-Regular-v01.ttf") format("truetype"), url("./type/GEInspiraSerif-Regular-v01.svg#GE Inspira Serif") format("svg"); }

@font-face {
  font-family: "GE Inspira Serif";
  font-weight: normal;
  font-style: italic;
  src: url("./type/GEInspiraSerif-Italic-v01.eot");
src: url("./type/GEInspiraSerif-Italic-v01.eot?#iefix") format("embedded-opentype"), url("./type/GEInspiraSerif-Italic-v01.woff") format("woff"), url("./type/GEInspiraSerif-Italic-v01.ttf") format("truetype"), url("./type/GEInspiraSerif-Italic-v01.svg#GE Inspira Serif") format("svg"); }

@font-face {
  font-family: "GE Inspira Serif";
  font-weight: bold;
  font-style: normal;
  src: url("./type/GEInspiraSerif-Bold-v01.eot");
src: url("./type/GEInspiraSerif-Bold-v01.eot?#iefix") format("embedded-opentype"), url("./type/GEInspiraSerif-Bold-v01.woff") format("woff"), url("./type/GEInspiraSerif-Bold-v01.ttf") format("truetype"), url("./type/GEInspiraSerif-Bold-v01.svg#GE Inspira Serif") format("svg"); }

@font-face {
  font-family: "GE Inspira Serif";
  font-weight: bold;
  font-style: italic;
  src: url("./type/GEInspiraSerif-BoldItalic-v01.eot");
src: url("./type/GEInspiraSerif-BoldItalic-v01.eot?#iefix") format("embedded-opentype"), url("./type/GEInspiraSerif-BoldItalic-v01.woff") format("woff"), url("./type/GEInspiraSerif-BoldItalic-v01.ttf") format("truetype"), url("./type/GEInspiraSerif-BoldItalic-v01.svg#GE Inspira Serif") format("svg"); }


@font-face {
  font-family: "GE ZYF";
  font-weight: normal;
  font-style: normal;
  src: url("./ge-types/GE-zyf.ttf") format("truetype");
}

@font-face {
  font-family: "GE ZYF";
  font-weight: bold;
  font-style: normal;
  src: url("./ge-types/GE-zyf-bold.ttf") format("truetype");
}
