@font-face {
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
  src: url("./type/helvetica/Helvetica.ttf");
  src: url("./type/helvetica/Helvetica Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica";
  font-weight: bold;
  font-style: normal;
  src: url("./type/helvetica/Helvetica Bold.ttf");
  src: url("./type/helvetica/Helvetica Bold.ttf") format("truetype");
}
